.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (4, 1fr);
  gap: 10px 20px;
  justify-items: center;
  align-items: center;
}

.GRID-ITEM-I {
  background-color: orange;
  grid-column-start: ;
}
.GRID-ITEM-II {
  background-color: lightblue;
}
.GRID-ITEM-III {
  background-color: firebrick;
}
.GRID-ITEM-IV {
  background-color: cyan;
}
